@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');


*{
    margin:0;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.todo{
    display: inline-block;
    width:80%;
    margin: 0% 10%;
    position: absolute;
    top: 120px;
}

body{
    background-color: #DFDFDE;
}

nav{
    background-color: #EDE6DB;
    margin: 20px;
    border-radius: 20px;
}

.usuario{
    text-align: right;
}

.btn1{
    display: inline-block;
    text-decoration: none;
    font-size: 19px;
    margin: -1px;
    color:rgb(255,255,255);
    background-color: #819fc7;
    border-radius: 10px;
    padding: 10px;
    margin-top: 6.5px;
    text-decoration: none;
}
.btn2{
    display: inline-block;
    text-decoration: none;
    font-size: 19px;
    margin: -1px;
    width: 100%;
    color:rgb(255, 255, 255);
    background-color: #292904;
    padding: 10px;
    margin-top: 6.5px;
    text-decoration: none;
}

.col{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}


.card{
    width: 180px;
    height: 45px;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: rgb(0,0,0);
    margin: 10px 5px;
    transition: transform 0.8;
    background-color: #fff;
    backdrop-filter: blur(1rem);
    cursor: pointer;
    text-decoration: none;
    font-size: 18px;
}

.card:hover{
    transform: translateY(-5px);
    background-color: #001f6c86;
    color: #fff;
}

.cardcerrar{
    width: 120px;
    height: 45px;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: rgb(0,0,0);
    margin: 10px 5px;
    transition: transform 0.8;
    background-color: #fff;
    backdrop-filter: blur(1rem);
    cursor: pointer;
    text-decoration: none;
    font-size: 18px;
}

.cardcerrar:hover{
    transform: translateY(-5px);
    background-color: #001f6c86;
    color: #fff;
}

.cardhistorial{
    width: 140px;
    height: 45px;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: rgb(0,0,0);
    margin: 10px 5px;
    transition: transform 0.8;
    background-color: #fff;
    backdrop-filter: blur(1rem);
    cursor: pointer;
    text-decoration: none;
    font-size: 18px;
}

.cardhistorial:hover{
    transform: translateY(-5px);
    background-color: #001f6c86;
    color: #fff;
}

.cardproductos{
    width: 150px;
    height: 45px;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: rgb(0,0,0);
    margin: 10px 5px;
    transition: transform 0.8;
    background-color: #fff;
    backdrop-filter: blur(1rem);
    cursor: pointer;
    text-decoration: none;
    font-size: 18px;
}

.cardproductos:hover{
    transform: translateY(-5px);
    background-color: #001f6c86;
    color: #fff;
}

.cardganancias{
    width: 150px;
    height: 45px;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: rgb(0,0,0);
    margin: 10px 30px 10px 5px;
    transition: transform 0.8;
    background-color: #fff;
    backdrop-filter: blur(1rem);
    cursor: pointer;
    text-decoration: none;
    font-size: 18px;
}

.cardganancias:hover{
    transform: translateY(-5px);
    background-color: #001f6c86;
    color: #fff;
}


.card1{
    background-color: #001f6c86;
    color:#fff;
}

.card2{
    background-color: #001f6c86;
    color:#fff;
}

.card3{
    background-color: #001f6c86;
    color:#fff;
}

.imagenes{
    margin: 4px;
    height: 30px;
}

.nav2{
    display: flex;
    justify-content: flex-start;
}

img{
    height: 57px;
    cursor: pointer;
    margin-left: -1px;
}

h1{
    margin-top: -90px;
    font-family: 'Ms Madi', cursive;
    font-size: 53px;
    cursor: pointer;
    color: #000;
    margin-left: 20px;
}

#btn-menu{
    display: none;
}

.container-menu{
    position: absolute;
    width: 40%;
    height: 150px;
    transition: all 500ms ease;
    visibility: hidden;
    z-index: 100;
    text-align: center;
    margin-top: -60px;
}

#btn-menu:checked ~ .container-menu{
    opacity: 1;
    visibility: visible;
}

.cont-menu{
    width: 60%;
    height: 100%;
    background-color: #b22771;
    background: transparent;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(-100%);
}

#btn-menu:checked ~ .container-menu .cont-menu{
    transform: translateX(0%);
}

.cont-menu .nav2{
    transform: translateY(15%);
}
.cont-menu .nav2 a:hover{
    background-color: #B22727;
    border-radius: 20px;
    margin-top: -1px;
}
.nav2{
    border-radius: 20px;
    background-color: #001f6c86;
}
.nav3{
    border-radius: 20px;
    height: 100%;
    background-color: #001f6cb3;
}
.nav-evento{
    position: relative;
}

.scroll{
    width: 100%;
    height: 450px;
    overflow-y: scroll;
}

.menudes{
    position: relative;
    height: 30px;
    margin: 0%;
}

.botones{
    position: absolute;
    right: 20px;
    width: 120px;
    height: 40px;
    font-size: 20px;
}

.nuevo{
    right: 250px;
}

.compra{
    right: 380px;
}

.historial{
    width: 220px;
}

.form-control{
    width: 100%;
    height: 27px;
    font-size: 20px;
}

.btn{
    width: 130px;
    height: 40px;
    font-size: 20px;
}

label{
    font-size: 20px;
}


.manias{
    display: inline-block;
    width:80%;
    margin: 0% 10%;
    position: absolute;
    top: 450px;
}

.scroller{
    width: 100%;
    height: 150px;
    overflow-y: scroll;
}

.sanchez{
    width: 50%;
    text-align: center;
}
.suncho{
    width: 50%;
    text-align: center;
}
.tamañitos{
    margin-left: 50px;
    display: inline-block;
    width: 57%;
    height: 270px;
    overflow-y: scroll;
}

.duracion{
    position: absolute;
    left: 15%;
    font-size: 20px;
}
.duraciones{
    position: absolute;
    right: 15%;
    font-size: 20px;
}

.tamales{
    width: 80%;
    margin: 0% 10%;
}
.tamalotes{
    width: 70%;
    margin: 0% 15%;
}
.uaxaqueño{
    margin-left: 50px;
    display: inline-block;
    width: 70%;
    height: 480px;
    margin: 0% 15%;
    overflow-y: scroll;
}
.tamalitos{
    margin-left: 50px;
    display: inline-block;
    width: 80%;
    height: 180px;
    margin: 0% 10%;
    border: #000 solid 3px;
    overflow-y: scroll;
}
.molaso{
    font-size: 20px;
}
.capitulazo{
    margin-left: 20%;
}
.chave{
    width: 7%;
    text-align: center;
}
.cheve{
    width: 17%;
    text-align: center;
}
.cheva{
    width: 20%;
    text-align: center;
}
.chive{
    width: 20%;
    text-align: center;
}
.chove{
    width: 24%;
    text-align: center;
}
.chavo{
    width: 12%;
    text-align: center;
}

.agregamos{
    display: inline-block;
    position: absolute;
    right: 0px;
    width: 21%;
    height: 200px;
}

.normales{
    display: inline-block;
    border: #000000 1px solid;
    border-radius: 5px;
    padding: 2px;
    margin: 1px;
    font-size: 20px;
}

.imajinece{
    width: 30px;
    height: 15px;
}

.quitar{
    width: 11%;
    text-align: center;
}

.total{
    width: 15%;
    text-align: center;
}

.cantidad{
    width: 16%;
    text-align: center;
}

.precioVenta{
    width: 32%;
    text-align: center;
}

.producto{
    width: 18%;
    text-align: center;
}

.id{
    width: 8%;
    text-align: center;
}

.compras{
    height: 30px;
}

.alert{
    top: 110px;
    position: absolute;
    margin-left:250px;
}

.verde{
    background-color: #27b23c;
    display: inline-block;
    width: 350px;
    height: 40px;
    padding: 10px 10px;
}

.rojo{
    background-color: #B22727;
    display: inline-block;
    width: 350px;
    height: 40px;
    padding: 10px 10px;
}

.amarillo{
    background-color: #a9b227;
    display: inline-block;
    width: 350px;
    height: 40px;
    padding: 10px 10px;
}

.morado{
    background-color: #7627b2;
    display: inline-block;
    width: 350px;
    height: 40px;
    padding: 10px 10px;
}

.azul{
    background-color: #2766b2;
    display: inline-block;
    width: 350px;
    height: 40px;
    padding: 10px 10px;
}

.ventana{
    text-align: center;
    position: absolute;
    top: -180px;
    left: 36%;
    background-color: #292904;
    border: #000 1px solid;
    border-radius: 10px;
    display: none;
    width: 350px;
    height: 200px;
}
.ventana-decorativa{
    position: absolute;
    width: 320px;
    height: 140px;
    left: 14px;
    top: 40px;
    background: #ffffff;
    border-radius: 0px 0px 10px 10px;
}

.ventana-cerrar{
    text-align: center;
    position: absolute;
    top: -180px;
    left: 36%;
    background-color: #292904;
    border: #000 1px solid;
    border-radius: 10px;
    display: none;
    width: 350px;
    height: 200px;
}
.ventana-cerrar__decorativa{
    position: absolute;
    width: 320px;
    height: 140px;
    left: 14px;
    top: 40px;
    background: #ffffff;
    border-radius: 0px 0px 10px 10px;
}
.ventana-como{
    font-size: 20px;
}

.termino{
    margin-top: 7px;
    color: rgb(255, 255, 255);
}

.termino-imagen{
    width: 50px;
    height: 50px;
    margin: 0px 40px;
}
.ventana-proveedor{
    text-align: center;
    position: absolute;
    top:150px;
    left: 36%;
    background-color: #292904;
    border: #000 1px solid;
    border-radius: 10px;
    width: 350px;
    height: 200px;
}
.ventana-proveedor__decorativa{
    position: absolute;
    width: 320px;
    height: 140px;
    left: 14px;
    top: 40px;
    background: #ffffff;
    border-radius: 0px 0px 10px 10px;
}

.padezitos{
    display: inline-block;
    font-size: 20px;
    margin-right: 10px;
    margin-left: 15px;
}

.buscar{
    position: absolute;
    display: inline-block;
    right: 38%;
    top: 14%;
}

.cajas{
    font-size: 15px;
    height: 30px;
}

.caja-panales{
    position: absolute;
    display: inline-block;
    width: 200px;
    height: 300px;
    right: 23%;
    top: 14%;
    overflow-y: scroll;
}

.panales{
    display: block;
    padding: 2px;
    font-size: 20px;
}

/*diseño de la tabla de proveedores*/

.proveedor{
    text-align: center;
}

.telefono{
    text-align: center;
}

.editar{
    text-align: center;
}

.eliminar{
    text-align: center;
}
/*fin de la tabla de proveedores*/

.tabla{
    position: absolute;
    width: 100%;
    background: #DFDFDE;
}

.acomodalo{
    display: inline;
}

/*Tabla de ganancia*/
.ganancia{
    text-align: center;
    width: 15%;
    padding: 0px;
}

.totalGanancia{
    text-align: center;
    width: 16%;
}

.recuperacion{
    text-align: center;
    width: 22%;
}

.cantidades{
    text-align: center;
    width: 22%;
}

.productoGanancia{
    text-align: center;
    width: 18%;
}

.idGanancia{
    text-align: center;
    width: 7%;
}

.tabla-boton{
    display: inline-block;
    font-size: 20px;
    width: 100px;
    height: 30px;
}
/*cierre de tabla de ganancia*/
.dale{
    position: absolute;
    left: 5%;
}

.demos{
    position: absolute;
    right: 5%;
}

/* tabla de vista de productos*/
.dabi{
    width: 6%;
    text-align: center;
}
.dabo{
    width: 20%;
    text-align: inherit;
    padding-left: 5%;
}
.dabu{
    width: 20%;
    text-align: center;
}
.debo{
    width: 18%;
    text-align: center;
}
.debi{
    width: 13%;
    text-align: center;
}
.debe{
    width: 13%;
    text-align: center;
}
.debu{
    width: 10%;
    text-align: center;
}
/*cierre de tabla de vista de producto*/

/*tabla de vista de compras de productos*/
.verbo{
    width: 20%;
}
.verba{
    width: 20%;
    text-align: center;
}
.verbi{
    width: 20%;
    text-align: center;
}
.verbe{
    width: 20%;
    text-align: center;
}
.verbu{
    width: 20%;
    text-align: center;
}
/*cierre de tabla de vista de compras de productos*/

/*tabla de historial*/
.tuerca{
    width: 40%;
}
.tuerco{
    width: 30%;
    text-align: center;
}
.tuercu{
    width: 30%;
    text-align: center;
}
/*fin de tabla de historial*/

.sasha{
    background-color: #49617f;
}

/*vista de los pagos para confirmar*/
.caja-vista{
    position: absolute;
    display: inline-block;
    width: 60%;
    height: 100px;
    background-color: #030303;
    border-radius: 20px;
    padding: 1%;
    top: 55%;
    left: 18%;
}
.caja-vista__compras{
    position: relative;
    background-color: #ffffff;
    border-radius: 20px;
    height: 70px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.caja-vista__compras-modulo{
    display: inline;
    margin-right: 1%;
}

/*termoni de vista de los pagos para confirmar*/