@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/*inicio de deiseño de los botones de productos*/

.producto-ventas{
    background: #F3E9DD;
    width: 70%;
    height: 500px;
    display: inline-block;
    position: relative;
}

.producto-ventas__botones{
    display: inline-block;
    height: 50px;
    width: 130px;
    margin: 2px;
}

.producto-ventas__botones-yed{
    font-size: 20px;
    height: 50px;
    width: 130px;
}

.producto-ventas__botones--form{
    position: absolute;
    height: 50px;
    width: 140px;
}

.producto-ventas__botones--imagen1{
    position: absolute;
    width: 20px;
    height: 30px;
    right: 0px;
}

.producto-ventas__botones--imagen2{
    position: absolute;
    width: 20px;
    height: 20px;
    right: 0px;
    bottom: 0px;
}

.producto-ventas__botones--imagena{
    width: 20px;
    height: 20px;
}

.producto-ventas__botones--imagenimg{
    position: absolute;
    text-align: center;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    margin: auto;
    width: 15px;
    height: 15px;
}

/*Fin de diselo de los botones de productos*/




/*Inicio de diseño de las ventanas flotantes de nuevo producto y editar producto*/

a{
    text-decoration: none;
}

.ventana-nuevo{
    position: fixed;
    background: rgb(28, 174, 193);
    width: 400px;
    height: 500px;
    border-radius: 15px;
    left: 37%;
    z-index: 100;
    display: none;
}

.ventana-editar{
    position: fixed;
    background: rgb(28, 193, 127);
    width: 400px;
    height: 500px;
    border-radius: 15px;
    left: 37%;
    z-index: 100;
    display: none;
}

.ventana-nuevo__h3{
    text-align: center;
    font-size: 25px;
    margin: 10px;
}

.ventana-nuevo__form{
    position: relative;
    height: 330px;
}

.ventana-nuevo__form--datos{
    font-size: 20px;
    margin: 0px 0px 2px 10px;
}

.ventana-nuevo__form--id{
    position: absolute;
}

.ventana-nuevo__img{
    position: absolute;
    top: 10px;
    right: 10px;
}

.imagen-mas{
    position: absolute;
    right: 44%;
    top: 45%;
}

/*Fin de diseño de interfaz flotante de nuevo producto y editar producto*/


/* diseño carrito de compras de los productos */


/* Fin de diseño de Carrito de compras */

/* Inicio de Caja Peso */

.caja-peso{
    position: absolute;
    display: inline;
    right: 31%;
    top: 40%;
}

.caja-peso__kilo{
    font-size: 30px;
    width: 100px;
    height: 40px;
}

/* Fin de Caja Peso */

/* Diseño de Proveedores */

.proveedor-ventas{
    width: 50%;
}
table{
    background-color: rgb(61, 68, 73);
    border-collapse:collapse;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}
th,td{
    padding: 10px;
}
table thead{
    background: #b1afafa9;
    color: #fff;
    border-bottom: solid 5px #fbfbfb;
    text-align: center;
}
 tr:nth-child(even){
     background-color: rgba(204, 202, 202, 0.368);
 }

 tr:hover td{
     background-color: #f5f5f592;
     color: #000;
 }

.carrito-compras{
    float:right;
    margin: 20px;
    
    
}
#Guardar{
    font-size: 20px;
    border-radius: 20px;
    width: 100px;
    display: inline-block;
    text-decoration: none;
    margin: 50px;
    width: 150px;
    text-align: center;
    color:rgb(0, 0, 0);
    padding: 10px;
    margin-top: -900px;
    text-decoration: none;
    
}

#peso{
    font-size: 20px;
}





/*Fin de diseño de proveedores*/

/*Diseño del boton Producto*/

.almacen-productos{
    position: absolute;
    right: 20%;
    top: 10%;
}



/*Fin de diseño de boton Producto*/